
@media (max-width: 1280px) { 

	// Logo sizing Fix 

	.main-logo {
		max-width:400px !important;
	}

	.in-theaters {
		font-size:18px !important;
		top:-20px !important;
	}

}


@media (max-width:991px) {
	.navbar-collapse{
		.main-nav {
			opacity:0;
			width:100%;
			padding:180px 0px;
			top:-8px;
			position:fixed;
			right:0px;
			bottom:0px;
			height:100%;
			background:rgba(0,0,0,0.9);

			li {
				width:100%;
				text-align: center;
				margin:0px;
				margin-bottom:0px;

					a {
						font-size:28px !important;
					}

					&:last-child {
						margin-top:40px;
					}
			}
		}
	}

	&.show {
		.main-nav {
			opacity:1;
			z-index: 21;
		}
	}

	.watch-trailer {
		width:100%;
		max-width:200px !important;
	}

	.play-icon {
		max-width:40px;
		bottom:-33px !important;
		left:220px !important;
	}
}



@media (max-height: 736px) {
	.ff-blurb {
				max-width: 300px !important;
				top:170px !important;

					&.end {
						right:100px !important;
					} 
			}

			.movie-blurb {
				max-width: 250px !important;
				top:330px !important;
					&.end {
						right:100px !important;
					} 
			}

			#makeitrain {
				font-size:32px !important;
				top:420px !important;
					&.end {
						right:100px !important;
					} 
			}

			.cast-name { 
				//top:400px !important;
			}
}



@media (max-width:640px){ 

	.modal-body {
		padding:0px 0px !important;
	}

	.trailer-logo { 
		margin-top:-30px !important;
		max-width:200px;
	}

	.main-logo {
		width:90% !important;
		margin-top:-20px !important;
		font-size:18px;
	}

	.in-theaters {
		font-size:16px !important;
	}


	.home-container {

			.ff-blurb {
				max-width: 300px !important;
				top:170px !important;

					&.end {
						right:10px !important;
					} 
			}

			.movie-blurb {
				max-width: 250px !important;
				top:330px !important;
					&.end {
						right:10px !important;
					} 
			}

			#makeitrain {
				font-size:32px !important;
				top:420px !important;
					&.end {
						right:10px !important;
					} 
			}
	}

	.cast-name { 
		bottom:160px !important;
		right:20px !important;
		text-align: center !important;
		.real-name {
			font-size:48px !important;
			line-height:40px !important;
		}

		.character-name {
			font-size:36px !important;
		}
	}

	.synopsis {
		.content {
			width:100% !important;
			max-width:100% !important;
			margin-top:170px !important;
			left:0px;
			right:0px;
			padding:0px 30px;

				.page-title {
					font-size:32px !important;
				}

				p {
					font-size:16px !important;
				}
		}
	}

}

@media (max-width:575px){
	footer {

		padding:0px 0px !important;

		.bottom-links {
			margin-top:10px !important;
			font-size:9px;
		}

		.ep-logo {
			margin-top:25px !important;

				img {max-width:200px !important;}
		}
	}

	.synopsis {
		.content {
			p {
				max-height: 250px;
				overflow-y:scroll;
			}
		}
	}
} 

@media (max-height: 640px) {

	.home-container {

		.ff-blurb {
			max-width: 210px !important;
			top:160px !important;

				&.end {
					right:20px !important;
				} 
		}

		.movie-blurb {
			max-width: 210px !important;
			top:270px !important;
				&.end {
					right:20px !important;
				} 
		}

		#makeitrain {
			font-size:28px !important;
			top:330px !important;
				&.end {
					right:20px !important;
				} 
		}

		
	}

	.cast-name { 
		//top:330px !important;
	}

	.synopsis {
		.content {
			margin-top:150px !important;

			p {
				max-height: 190px !important;
				overflow-y:scroll;
			}
		}
	}
}
