@import "bootstrap.css";
@import "font-awesome";
@import "colors.scss";
@import "responsive";


// Easing
.ease-pop {
	-webkit-transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1); /* older webkit */
-webkit-transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1.295); 
   -moz-transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1.295); 
     -o-transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1.295); 
        transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1.295); /* custom */

-webkit-transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1.295); 
   -moz-transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1.295); 
     -o-transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1.295); 
        transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1.295); /* custom */
}

.ease-quick {
	-webkit-transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
   -moz-transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
     -o-transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}

.ease-slow {
	-webkit-transition: all 800ms cubic-bezier(0.000, 0.320, 0.000, 0.990); 
   -moz-transition: all 800ms cubic-bezier(0.000, 0.320, 0.000, 0.990); 
     -o-transition: all 800ms cubic-bezier(0.000, 0.320, 0.000, 0.990); 
        transition: all 800ms cubic-bezier(0.000, 0.320, 0.000, 0.990); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.000, 0.320, 0.000, 0.990); 
   -moz-transition-timing-function: cubic-bezier(0.000, 0.320, 0.000, 0.990); 
     -o-transition-timing-function: cubic-bezier(0.000, 0.320, 0.000, 0.990); 
        transition-timing-function: cubic-bezier(0.000, 0.320, 0.000, 0.990); /* custom */
}

// Typography

.gothic {
	font-family: 'Libre Franklin', sans-serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

a {
	color:$red;

		&:hover {
			color:#fff;
			text-decoration: none;
		}
}


// Site Structure

html, body {
	overflow-x:hidden;
	background:#111;
	height:100%;
	width:100%;
	position:relative;
	@extend .roboto;
}

body {
	-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

// Header
.header-cover {
	position:fixed;
	top:-300px;
	width:100%;
	height:500px;
	z-index: 4;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+31,000000+44&1+23,0+69 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.85) 23%, rgba(0,0,0,0.83) 31%, rgba(0,0,0,0.55) 44%, rgba(0,0,0,0) 69%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.85) 23%,rgba(0,0,0,0.83) 31%,rgba(0,0,0,0.55) 44%,rgba(0,0,0,0) 69%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.85) 23%,rgba(0,0,0,0.83) 31%,rgba(0,0,0,0.55) 44%,rgba(0,0,0,0) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		&:before {
			content:'';
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+31,000000+44&1+23,0+69 */
			background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 23%, rgba(0,0,0,0.83) 31%, rgba(0,0,0,0.55) 44%, rgba(0,0,0,0) 69%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 23%,rgba(0,0,0,0.83) 31%,rgba(0,0,0,0.55) 44%,rgba(0,0,0,0) 69%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0.65) 23%,rgba(0,0,0,0.83) 31%,rgba(0,0,0,0.55) 44%,rgba(0,0,0,0) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			height:350px;
			position:fixed;
			top:-60px;
			width:100%;
			display:block;
		}
}

header {
	background-color:rgba(0,0,0,1);
	position:relative;
	border-bottom:1px solid #333;
	padding:12px 0px 10px 0px;
	z-index: 20;
		.social {
			padding-right:15px;
			.fa {
				margin-left:15px;
				color:$red;
				font-size:18px;
			}
		}
}

.scanlines {
	background-image:url(../assets/scanlines.png);
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	min-height: 100vh;
}

.navbar-header {
	overflow:hidden;
	z-index: 20;
}

.main-logo {
	margin-top:-50px;
	width:98%;
	max-width:520px;
	position:absolute;
	overflow:hidden;
	left:0px;
	top:0px;
	z-index: 40;
	@extend .ease-pop;

		&.start {
			right:-500px;
			top:-500px;
			@extend .ease-pop;
		}

		&.end {
			@extend .ease-quick;
			transform: rotate(-5deg);
		}
}


// Main NAvigation
.navbar-toggler {
	z-index: 50;
	color:#fff;
}

.main-nav {
	z-index: 20;
	padding-right:50px;
	top:30px;
	right:20px;
	position:absolute;
	@extend .gothic;
	@extend .ease-pop;

	&.start {
		position:absolute;
		right:-1000px;
		@extend .ease-pop;
	}

	li {

		margin-left:40px;

		a {
			color:#e8e7e7;
			text-transform:uppercase;
			font-size:18px;
			font-weight:900;
			text-shadow:-3px 3px 0px #000;
			@extend .ease-quick;


				&:hover, &.active {
					background:none;
					color:$red;
					@extend .ease-quick;
				}
		}
		
		.get-tickets {
			margin-top:-20px;
			@extend .ease-quick;

				&:hover {
					margin-top:-25px;
					@extend .ease-quick;
				}
		}

	}
}

.navbar-collapse {
	&.show {
		background:rgba(0,0,0,0.8);
	}
}

// Home Page
.video-bg {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transform: translateX(0);
}

.loader-bg {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height:auto;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

// Cast
.cast-video {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transform: translateX(0);
}

.cast-name {
	position:absolute;
	width:90%;
	max-width: 600px;
	top:500px;
	right:100px;
	text-align: right;
		.real-name {
			@extend .gothic;
			font-size:60px;
			line-height:35px;
			font-weight:900;
			text-transform: none;
			font-style: italic;
			color:#fff;
			text-shadow:-3px 3px 0px #000;

				a {
					color:#fff;
					@extend .ease-quick;
						&:hover {
							color:$red;
							@extend .ease-quick;
						}
				}
		}

		.character-name {
			@extend .gothic;
			font-size:48px;
			font-weight:900;
			text-transform: none;
			font-style: italic;
			color:$red;
			text-shadow:-3px 3px 0px #000;
		}

}

.synopsis-video {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0);
}



.home-container {
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index: 10;
	@extend .ease-slow;
		&.blur {
			opacity:0.10;
			z-index: 0;
			@extend .ease-slow;
		}


		.ff-blurb {
			position:absolute;
			width:90%;
			max-width: 400px;
			top:200px;
			right:-4000px;
			@extend .ease-slow;
				&.end {
					right:100px;
					@extend .ease-slow;
				}
		}

		.movie-blurb {
			position:absolute;
			width:80%;
			max-width: 350px;
			top:420px;
			right:-4000px;
			@extend .ease-slow;
				&.end {
					right:100px;
					@extend .ease-slow;
				}
		}

		#makeitrain {
			@extend .gothic;
			font-size:38px;
			font-weight:900;
			text-transform: none;
			font-style: italic;
			color:#fff;
			text-shadow:-3px 3px 0px #000;
			position:absolute;
			right:-4000px;
			top:540px;
			
				span {
					color:$red;
				}

				&.end {
					right:100px;
					@extend .ease-slow;
				}
		}
}

#makeitrain-static {
	@extend .gothic;
	font-size:38px;
	font-weight:900;
	text-transform: none;
	font-style: italic;
	color:#fff;
	text-shadow:-3px 3px 0px #000;
		span {
			color:$red;
		}
}


.gallery-image {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
  	transform: translateX(0);
}

#movieTrailer {
	position: relative;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}


// Footer
.footer-overlay {
	position:fixed;
	width:100%;
	bottom:0px;
	z-index: 100;
	padding:0px 20px;
	height:200px;
	background-color:#000;
	border-top:1px solid #333;
	@extend .ease-pop;

		&.hide {
			bottom:-800px;
			@extend .ease-pop;
		}

		.billing-block {
			margin-top:20px;
			width:100%;
			max-width:900px;
		}

		.close {
			.fa {
				color:#fff;
				box-shadow: none;
				padding:10px;
				font-size:14px;
			}
		}
}

footer { 
	text-transform: uppercase;
	font-size:11px;
	background-color:rgba(0,0,0,0.85);
	border-top:1px solid #333;
	position: absolute; 
	left: 0 ; right: 0; bottom: 0; 
	height:100px;
	padding:0px 20px;
	z-index: 20;
	color:$medgray;

  	.watch-trailer {
  		margin-top:-20px;
  		margin-left:20px;
  		position:absolute;
  		left:0px;
  		max-width:272px;
  		cursor:pointer;
  		@extend .ease-pop;

  			&.start {
  				position:absolute;
  				left:-500px;
  				@extend .ease-pop;
  			}
  	}

  	.play-icon {
  		position:absolute;
  		left:295px;
  		bottom:-50px;
  		@extend .ease-pop;
  			&.start {
  				@extend .ease-pop;
  				left:-500px;
  				position:absolute;
  			}
  	}

  	.ep-logo {
  		margin-top:30px;

  			img {
  				width:100%;
  				max-width:240px;
  			}
  	}

  	.bottom-links {
  		margin-top:45px;
			margin-bottom:5px;
		}

  	a {
  		color:$lightgray;
  		margin:0px 10px 0 0;
  	}
}

// Carousel
.carousel {
	height:100%;

		.carousel-inner {
			height:100%;
		}

		.carousel-control-prev {
				justify-content:left;
				width:0px;
		}

		.carousel-control-next {
				justify-content:flex-end;
				width:0px;
		}

		.arrow-container {
			background:$red;
			padding: 15px 30px;
    	font-size: 25px;
		}
		
}

// Modal
.modal {
	background:#000;
		.close {
			background-color:$red;
			padding:5px 15px 10px 15px;
			position:absolute;
			z-index:20;
			top:10px;
			right:10px;
			cursor:pointer;
			text-align:center;
				.fa {
					font-size:16px;
					color:#000;
					text-shadow:none;
				}
		}

		.modal-dialog {
			margin:0px;
			max-width: 100%;
			width: 100vw;
			min-height: 100vh;

				.modal-content {
					background:none;
					padding:0px 0px;
					margin-top:-150px;
						.modal-header {
							padding-top:10px;
							border-radius:0px;
							border:0px;
							position:absolute;
							width:100%;
							padding:20px;
							z-index:20;
								
						}

					.trailer-logo {
						margin-top:0px;
						width:60%;
						max-width:400px;
						position:absolute;
						overflow:hidden;
						left:0px;
						top:0px;
						z-index: 40;
						@extend .ease-pop;

							&.start {
								left:-500px;
								@extend .ease-pop;
							}

							&.end {
								@extend .ease-quick;
								transform: rotate(-5deg);
							}
					}	

					.modal-body {
						padding:0px 100px;
						background: #000;
						border-radius: 0px;
						height:80%;
					}
				}	
				
		}
}

//Sub Pages

.sub-page {
	z-index: 2;
	position:fixed;
	top:2000px;
	left:0px;
	right:0px;
	bottom:-2000px;
	background:#000;
	z-index:0;
	@extend .ease-slow;

		&.active {
			top:0px;
			bottom:0px;
			z-index: 10;
			@extend .ease-slow;
		}

		&.synopsis {
			.content {
				width:100%;
				max-width:500px;
				margin-top:220px;
				position:absolute;
				right:100px;
				color:#fff;
				z-index: 10;

					.page-title {
						@extend .gothic;
						font-size:38px;
						font-weight:900;
						text-transform: none;
						font-style: italic;
						color:#fff;
						text-shadow:-3px 3px 0px #000;
					}

					p {
						font-size:18px;
					}
			}
		}
}




#html5Loader{
	top:0;
	left:0;
	background-color:#000;
	background-color:rgba(0,0,0,1);
	margin:0;
	position:fixed;
	z-index: 1000;
	@extend .roboto;
}

#html5Loader .fallback {
	top:50%;
	position:absolute;
	text-align:center;
	width:100%;
	color:#fff;
	vertical-align: middle;
	display: block;
	font-style: normal;
	@extend .roboto;
	font-size:23px;
	z-index: 1000;
}

#preload {
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
	z-index: 1600;
	background:#000;

		.loader-line-container {
			position:relative;
			width:75%;
			margin:auto;
			top: 65%;
  		transform: translateY(-0%);

				.loader-line {
					width:0%;
					height:1px;
					background-color:$red;
					@extend .ease-slow;
				}
		}
}