@import "bootstrap";
@import "font-awesome";
@import "colors";

// Easing
.ease-pop {
	-webkit-transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1); /* older webkit */
-webkit-transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1.295); 
   -moz-transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1.295); 
     -o-transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1.295); 
        transition: all 800ms cubic-bezier(1.000, 0.080, 0.475, 1.295); /* custom */

-webkit-transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1.295); 
   -moz-transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1.295); 
     -o-transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1.295); 
        transition-timing-function: cubic-bezier(1.000, 0.080, 0.475, 1.295); /* custom */
}

// Site Structure

html, body {
	background:#111;
	height:100%;
	width:100%;
	position:relative;
}

header {
	border-bottom:1px solid #333;
	padding:10px 0px;
		.social {
			.fa {
				margin-left:15px;
				color:$red;
				font-size:18px;
			}
		}
}

.navbar-header {
	overflow:hidden;
}

.main-logo {
	margin-top:-30px;
	width:98%;
	max-width:520px;
	position:absolute;
	overflow:hidden;
	left:0px;
	top:0px;
	@extend .ease-pop;

		&.start {
			right:-500px;
			top:-500px;
			@extend .ease-pop;
		}

		&.end {
			@extend .ease-pop;
			transform: rotate(-5deg);
		}
}

.main-nav {
	right:20px;
	position:absolute;
	@extend .ease-pop;

	&.start {
		position:absolute;
		right:-500px;
		@extend .ease-pop;
	}


	li {
		a {
			color:#fff;
			text-transform:uppercase;
			font-size:20px;
			font-weight:900;

				&:hover {
					background:none;
					color:$red;
				}
		}
		
	}

	
}

#video-background {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transition: -webkit-transform 0.45455s linear;
	transition: -webkit-transform 0.45455s linear;
	-o-transition: transform 0.45455s linear;
	transition: transform 0.45455s linear;
	transition: transform 0.45455s linear, -webkit-transform 0.45455s linear;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}


footer { 
	border-top:1px solid #333;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:40px;
}